*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# maven
**/target

# Eclipse
.metadata/
.project
.settings/

# example run outputs
**/output/

# Keep published p2 site (copied from build output)
!site/eclipse/updates/latest/develop/**

# xtend
*.xtendbin